﻿<div class="jumbotron">
    <h1>POS HR Service Web API</h1>
    <p class="lead">This is a RESTful Web API application built on the .NET Framework.  The application receives HTTP requests
	with employee/job content and proceeds to load into a MSSQLS database.  It then executes stored
	procedures that load this data into a Micros POS server using linked server technology.</p>
</div>

